body {
  text-align: center;
  font-family: Courier, monospace, sans-serif;
  color: cadetblue;
}

.container {
  width: 70%;
  text-align: left;
  color: black;
  border: 1px solid #000;
  margin: 0 auto;
}

.content {
  padding: 0 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.cabecera {
  background-color: #33a;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  font-size: 1.5em;
}

.tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
