body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: cadetblue;
}

.container {
  width: 70%;
  padding: 1rem;
  text-align: left;
  color: black;
  border: 1px solid #000;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}
